* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*:focus {
  outline: none;
}

html {
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  -webkit-locale: "nb" !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-size: 18px;
  text-rendering: auto;
  font-family: Arial, sans-serif;
  color: #000000;
  overflow-x: hidden;
  line-height: 1.15;
}

a {
  color: #000000;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

::-moz-selection {
  background: rgba(0, 0, 0, 0.7);
  color: #FFFFFF;
}

::selection {
  background: rgba(0, 0, 0, 0.7);
  color: #FFFFFF;
}

::-webkit-scrollbar {
  width: 9px;
  border: 0px;
  background-color: #FFFFFF;
}
@media screen and (max-width: 752px) {
  ::-webkit-scrollbar {
    width: 1px;
  }
}

::-webkit-scrollbar-thumb {
  background: #707070;
  width: 10px;
}
@media screen and (max-width: 752px) {
  ::-webkit-scrollbar-thumb {
    width: 1px;
  }
}

::-webkit-scrollbar-thumb:hover {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: #666666;
}

img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

nav {
  padding: 0 2vw;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.7em;
  height: 80px;
  margin-bottom: 5vh;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
  vertical-align: middle;
}
nav div {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
nav a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
  -webkit-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
  position: relative;
  padding: 14px 15px;
  margin: 0 1vw 0;
}
nav a:hover {
  color: #333;
}
nav .nopadding {
  padding: 0;
}
nav .nopadding img {
  height: 50px;
}
nav #Active {
  border-bottom: 4px solid #000000;
}
nav #Active:hover {
  color: #000000;
}

.navProfilePicture {
  cursor: pointer;
  height: 60px;
  width: 60px;
  margin: 0 -15px 0 0.7vw;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
}

.loginWidth {
  text-align: center;
  width: 600px;
  margin: 10vh auto;
}
.loginWidth .forgotPassword {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  margin: 1em 0 0;
  text-decoration: underline;
  float: right;
  font-size: 30px;
}
.loginWidth .forgotPassword:hover {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  color: #333;
}
.loginWidth img {
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.loginWidth .loginError {
  font-size: 30px;
  padding: 19px;
  color: #FFFFFF;
  display: inline-block;
  margin: 5vh auto 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.loginWidth .loginBox {
  -webkit-box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 35px;
  margin: 4vh auto 0;
}
.loginWidth .loginBox label {
  display: block;
  text-align: left;
  color: #383838;
  font-size: 26px;
  margin: 0 0 3px;
}

input, textarea, select, .BildeInput {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  color: #383838;
  font-weight: 500;
  width: 100%;
  font-size: 28px;
  margin: 0 0 10px;
  padding: 20px;
  border: 1px solid #707070;
  height: 70px;
}
input:focus, textarea:focus, select:focus, .BildeInput:focus {
  border-radius: 8px;
}

.buttonSplit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.buttonSplit button {
  width: calc(50% - 5px);
}

button {
  cursor: pointer;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  border: 1px solid #707070;
  background-color: white;
  padding: 16px;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  color: #000000;
}
button:hover {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  background-color: whitesmoke;
}

.orange {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  background-color: #F29117;
}
.orange:hover {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  background-color: #e8870d;
}

.Material {
  font-family: "Material Icons", sans-serif;
}

.exit {
  font-size: 55px;
  position: absolute;
  top: 35px;
  right: 35px;
  color: #383838;
}
.exit:hover {
  color: #707070;
}

.ddsystem {
  position: relative;
}
.ddsystem .dropdownProfile {
  z-index: 99999;
  background-color: #FFFFFF;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  position: absolute;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 95px;
  -webkit-box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.2);
  width: 200px;
  height: 230px;
  right: 1vw;
}
.ddsystem .dropdownProfile div {
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 10px auto;
}
.ddsystem .dropdownProfile div a, .ddsystem .dropdownProfile div button {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  width: calc(100% - 30px);
  padding: 0;
  background-color: #FFFFFF;
  border: 0px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  font-weight: bold;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 20px;
}
.ddsystem .dropdownProfile div a:hover, .ddsystem .dropdownProfile div button:hover {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  border-bottom: 1px solid #000000;
}
.ddsystem .dropdownProfile div form {
  width: 100%;
}
.ddsystem .dropdownProfile::before {
  content: " ";
  width: 0;
  height: 0;
  position: relative;
  top: -22px;
  margin-bottom: -44px;
  right: -69px;
  border-left: 22px solid transparent;
  border-right: 22px solid transparent;
  border-bottom: 22px solid #FFFFFF;
}

#synd {
  position: fixed;
  top: 50vh;
  left: 50vw;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.2);
  background-color: #FFFFFF;
  text-align: center;
  display: none;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  font-size: 20px;
  padding: 30px;
  font-weight: bold;
  max-width: 90%;
  min-width: 300px;
  width: 250px;
}

.posts {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 0 10vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.post {
  background-color: #FFFFFF;
  min-width: 300px;
  max-width: 100%;
  width: 20vw;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin: 4vh 2vw;
}
.post .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.post .title h2 {
  max-width: 100%;
  height: 23px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  color: #383838;
  font-size: 20px;
  font-weight: normal;
  display: inline-block;
}
.post img {
  -webkit-box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.2);
  min-height: 300px;
  max-height: 100vw;
  height: 20vw;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.post .categorier {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 1vw;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 150px;
  height: auto;
  text-align: left;
  display: none;
}
.post .categorier span {
  color: green;
  text-decoration: underline;
  margin: 0.7vh 0;
}
.post .posttittel {
  margin: 5px 0 0;
  font-weight: 500;
}

.postinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  vertical-align: middle;
  height: 50px;
  width: 100%;
  padding: auto 3px;
  color: #9F9F9F;
}
.postinfo div {
  margin: auto 0px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}
.postinfo .icon {
  background-color: #FFFFFF;
  border: 0px solid #FFFFFF;
  cursor: pointer;
  font-size: 30px;
  color: #707070;
}
.postinfo .upvoted {
  color: #F29117;
}
.postinfo .downvoted {
  color: #033F61;
}
.postinfo .count9 {
  color: #9F9F9F;
  margin: auto 6px;
  font-size: 15px;
  font-family: "Calibri", "Arial", sans-serif;
}

.plussInnlegg {
  position: fixed;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  text-transform: uppercase;
  font-family: "Arial", sans-serif;
  font-size: 100px;
  width: 90px;
  height: 90px;
  border-radius: 45px;
  color: #FFFFFF;
  background-color: #F29117;
  -webkit-box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.2);
  bottom: 2vw;
  right: 2vw;
}

.postBody h1 {
  display: block;
  text-align: center;
  width: 600px;
  margin: auto;
  font-size: 54px;
}

.newPost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  max-width: 900px;
  margin: 10vh auto 3vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.newPost div {
  margin: 6px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.newPost div img {
  width: calc((900px + 12px) /2);
  height: calc((900px + 12px) /2);
  margin: 0px 0 18px;
  border: 0px solid white;
}
.newPost div label {
  font-size: 26px;
  color: #383838;
  text-align: left;
  margin-bottom: 4px;
}
.newPost div textarea {
  min-height: 70px;
  height: 200px;
  resize: vertical;
  max-height: 200px;
}
.newPost div .smallink {
  color: #F29117;
  font-size: 11px;
  text-decoration: underline;
}

.buttonSplitAgain {
  margin: 6px 0 !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-flow: row nowrap !important;
          flex-flow: row nowrap !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
}
.buttonSplitAgain button {
  width: calc(50% - 6px);
}

#nyKategoriDiv {
  overflow-x: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  margin: 0 0 6px;
  display: none;
}
#nyKategoriDiv .ny_kategori {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 65px;
  max-width: 400px;
  overflow-x: auto;
  height: 22px;
  width: auto;
  padding: 4px 6px;
  border-radius: 11px;
  font-size: 12px;
  color: #FFFFFF;
  background-color: #F29117;
  margin-right: 10px;
}
#nyKategoriDiv .ny_kategori #cancelButton {
  padding: 0;
  border: 0px solid white;
  font-size: 12px;
  color: #FFFFFF;
  margin-left: 8px;
}

#fileUpload {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  pointer-events: none;
}

.BildeInput {
  cursor: pointer;
}
.BildeInput:focus {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.Mid {
  display: inline-block;
  position: fixed;
  width: 70%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}
.Mid h1 {
  font-size: 52px;
}
.Mid a {
  display: inline-block;
  font-size: 52px;
  margin-top: 10vh;
  background-color: #FFFFFF;
  color: #F29117;
}
.Mid a:hover {
  background-color: #FFFFFF;
}

.noMargin {
  margin: 0px 6px !important;
}

/*# sourceMappingURL=styling.css.map */