// ======================================================================= Setup

// ======================= Variables

// Main colors
$Black: #1A1A1A
$BlackHover: #3A3A3A
$Grey: #e6e6e6
$LightGrey: #D0D0D0
$White: #FFFFFF
$OffWhite: #F2F2F2

// <h#> tags
$Headline: 59px
$Subline: 36px
$SubMargin: 20px 0
$amount: 4

// <tr> darken
$tramount: 10

// Mobile optimizing
$Mobile: "screen and (max-width: 752px)"

// Shadows
$Shadow: 0px 5px 16px 0px rgba(0,0,0,.2)
$SmallShadow: 0px 3px 6px 0px rgba(0,0,0,.2)

// Transitions
$Fast: all .1s ease
$Medium: all .25s ease
$Slow: all .5s ease

// Nexa Light
@font-face
  font-family: 'Nexa Light'
  src: url('../elements/Nexa Light.otf') format('opentype')

// Nexa Bold
@font-face
  font-family: 'Nexa Bold'
  src: url('../elements/Nexa Bold.otf') format('opentype')


// ================================================================== Essentials

*
  padding: 0
  margin: 0
  box-sizing: border-box

  &:focus
    outline: none

html
  -webkit-font-smoothing: antialiased
  scroll-behavior: smooth
  -webkit-locale: "nb" !important
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)


body
  //background-color: rgb(0,0,0)
  font-size: 18px
  text-rendering: auto
  font-family: 'Nexa Light', sans-serif
  color: $Black
  overflow-x: hidden
  line-height: 1.15


a
  color: $Black
  text-decoration: none

  &:hover
    text-decoration: none


// Selected text
::-moz-selection
  background: rgba(0, 0, 0, .7)
  color: $White


::selection
  background: rgba(0, 0, 0, .7)
  color: $White


// Scrollbar
::-webkit-scrollbar
  width: 9px
  border: 0px
  background-color: $White
  //border-radius: 5px

  @media #{$Mobile}
    width: 1px


::-webkit-scrollbar-thumb
  background: $Grey
  //border-radius: 5px
  width: 10px

  @media #{$Mobile}
    width: 1px


::-webkit-scrollbar-thumb:hover
  transition: all 0.2s ease-in-out
  background: darken($Grey, $amount)


// ============================================================

nav
  background-color: $White
  display: flex
  position: relative
  flex-flow: row nowrap
  align-content: flex-start
  justify-content: flex-start
  font-size: 1.7em
  height: 80px
  //margin-bottom: 100px
  user-select: none
  align-items: center
  box-shadow: $SmallShadow
  vertical-align: middle

  a
    display: inline-flex
    align-items: center
    color: $Black
    transition: all 0.1s ease 0s
    position: relative
    padding: 14px 15px
    margin: 8px 1vw 0px

    &:hover
      color: $BlackHover

  #Active
    border-bottom: 4px solid $Black
    //pointer-events: none

    &:hover
      color: $Black
