// ======================================================================= Setup

// ======================= Variables

// Main colors
$Black: #000000
$BlackHover: #333
$DarkGrey: #383838
$Grey: #707070
$LightGrey: #9F9F9F
$White: #FFFFFF
$OffWhite: #F2F2F2
$Orange: #F29117
$DarkBlue: #033F61


// <h#> tags
$Headline: 59px
$Subline: 36px
$SubMargin: 20px 0
$amount: 4

// <tr> darken
$tramount: 10

// Mobile optimizing
$Mobile: "screen and (max-width: 752px)"

// Shadows
$Shadow: 0px 5px 16px 0px rgba(0,0,0,.2)
$SmallShadow: 0px 3px 6px 0px rgba(0,0,0,.2)

// Transitions
$Fast: all .1s ease
$Medium: all .25s ease
$Slow: all .5s ease

// Nexa Light
//@font-face
//  font-family: 'Nexa Light'
//  src: url('../elements/Nexa Light.otf') format('opentype')

// Nexa Bold
//@font-face
//  font-family: 'Nexa Bold'
//  src: url('../elements/Nexa Bold.otf') format('opentype')


// ================================================================== Essentials

*
  padding: 0
  margin: 0
  box-sizing: border-box

  &:focus
    outline: none

html
  -webkit-font-smoothing: antialiased
  scroll-behavior: smooth
  -webkit-locale: "nb" !important
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)


body
  //background-color: rgb(0,0,0)
  font-size: 18px
  text-rendering: auto
  font-family: Arial, sans-serif
  color: $Black
  overflow-x: hidden
  line-height: 1.15


a
  color: $Black
  text-decoration: none

  &:hover
    text-decoration: none


// Selected text
::-moz-selection
  background: rgba(0, 0, 0, .7)
  color: $White


::selection
  background: rgba(0, 0, 0, .7)
  color: $White


// Scrollbar
::-webkit-scrollbar
  width: 9px
  border: 0px
  background-color: $White
  //border-radius: 5px

  @media #{$Mobile}
    width: 1px


::-webkit-scrollbar-thumb
  background: $Grey
  //border-radius: 5px
  width: 10px

  @media #{$Mobile}
    width: 1px


::-webkit-scrollbar-thumb:hover
  transition: all 0.2s ease-in-out
  background: darken($Grey, $amount)

img
  user-select: none
// ============================================================

nav
  padding: 0 2vw
  background-color: $White
  display: flex
  position: relative
  flex-flow: row nowrap
  justify-content: space-between
  font-size: 1.7em
  height: 80px
  margin-bottom: 5vh
  user-select: none
  align-items: center
  box-shadow: $SmallShadow
  vertical-align: middle

  div
    display: inline-flex
    justify-content: space-between
    align-items: center
    height: 100%

  a
    display: inline-flex
    align-items: center
    color: $Black
    transition: all 0.1s ease 0s
    position: relative
    padding: 14px 15px
    margin: 0 1vw 0

    &:hover
      color: $BlackHover

  .nopadding
    padding: 0

    img
      height: 50px

  #Active
    border-bottom: 4px solid $Black
    //pointer-events: none

    &:hover
      color: $Black

.navProfilePicture
  cursor: pointer
  height: 60px
  width: 60px
  margin: 0 -15px 0 .7vw
  object-fit: cover
  border-radius: 30px

// ================================== Login page ==========

.loginWidth
  text-align: center
  width: 600px
  margin: 10vh auto

  .forgotPassword
    transition: $Fast
    margin: 1em 0 0
    text-decoration: underline
    float: right
    font-size: 30px

    &:hover
      transition: $Fast
      color: $BlackHover

  img
    width: 100%
    user-select: none

  .loginError
    //background-color: #FF4E4E
    //box-shadow: $Shadow
    // Disse to øverste gjør den synlig.
    font-size: 30px
    padding: 19px
    color: $White
    display: inline-block
    margin: 5vh auto 0
    user-select: none

  .loginBox
    box-shadow: $Shadow
    padding: 35px
    margin: 4vh auto 0

    label
      display: block
      text-align: left
      color: $DarkGrey
      font-size: 26px
      margin: 0 0 3px

input, textarea, select, .BildeInput
  transition: $Fast
  color: $DarkGrey
  font-weight: 500
  width: 100%
  font-size: 28px
  margin: 0 0 10px
  padding: 20px
  border: 1px solid $Grey
  height: 70px

  &:focus
    border-radius: 8px

.buttonSplit
  display: flex
  flex-flow: row nowrap
  justify-content: space-between

  button
    width: calc(50% - 5px)

button
  cursor: pointer
  transition: $Fast
  border: 1px solid $Grey
  background-color: white
  padding: 16px
  text-align: center
  font-size: 35px
  font-weight: bold
  height: 70px
  display: flex
  align-items: center
  justify-content: center
  align-content: center
  color: $Black

  &:hover
    transition: $Fast
    background-color: darken($White, $amount)

.orange
  transition: $Fast
  background-color: $Orange

  &:hover
    transition: $Fast
    background-color: darken($Orange, $amount)

.Material
  font-family: 'Material Icons',sans-serif

.exit
  font-size: 55px
  position: absolute
  top: 35px
  right: 35px
  color: $DarkGrey

  &:hover
    color: $Grey

.ddsystem
  position: relative

  .dropdownProfile
    z-index: 99999
    background-color: $White
    transition: $Medium
    display: none
    flex-flow: column nowrap
    position: absolute
    justify-content: space-between
    top: 95px
    box-shadow: $Shadow
    width: 200px
    height: 230px
    right: 1vw
    //padding: 15px

    div
      height: auto
      width: 100%
      display: flex
      flex-flow: column nowrap
      justify-content: flex-start
      margin: 10px auto

      a, button
        transition: $Fast
        display: flex
        flex-flow: row nowrap
        width: calc(100% - 30px)
        padding: 0
        background-color: $White
        border: 0px solid $White
        border-bottom: 1px solid $White
        font-weight: bold
        align-items: center
        margin: 5px 15px
        justify-content: space-between
        font-size: 20px

        &:hover
          transition: $Fast
          border-bottom: 1px solid $Black


      form
        width: 100%


    &::before
      content: " "
      width: 0
      height: 0
      position: relative
      top: -22px
      margin-bottom: -44px
      right: -69px
      border-left: 22px solid transparent
      border-right: 22px solid transparent
      border-bottom: 22px solid $White
      //background-color: $White
      //box-shadow: $Shadow


#synd
  position: fixed
  top: 50vh
  left: 50vw
  transform: translate(-50%, -50%)
  box-shadow: $Shadow
  background-color: $White
  text-align: center
  display: none
  transition: $Fast
  font-size: 20px
  padding: 30px
  font-weight: bold
  max-width: 90%
  min-width: 300px
  width: 250px


.posts
  z-index: 1
  display: flex
  flex-flow: row wrap
  margin: 0 10vw
  justify-content: space-between

.post
  background-color: $White
  min-width: 300px
  max-width: 100%
  width: 20vw
  display: inline-flex
  flex-flow: column nowrap
  margin: 4vh 2vw


  .title
    display: flex
    flex-flow: row nowrap
    justify-content: space-between

    h2
      max-width: 100%
      height: 23px
      overflow: hidden
      text-overflow: ellipsis
      white-space: nowrap
      display: inline-block
      color: $DarkGrey
      font-size: 20px
      font-weight: normal
      display: inline-block

  img
    box-shadow: $Shadow
    min-height: 300px
    max-height: 100vw
    height: 20vw
    width: 100%
    object-fit: cover


  .categorier
    background-color: $White
    box-shadow: $Shadow
    padding: 1vw
    display: inline-flex
    flex-flow: column nowrap
    justify-content: space-between
    width: 150px
    height: auto
    text-align: left

    display: none


    span
      color: green
      text-decoration: underline
      margin: .7vh 0

  .posttittel
    margin: 5px 0 0
    font-weight: 500


.postinfo
  display: flex
  flex-flow: row nowrap
  justify-content: space-between
  vertical-align: middle
  height: 50px
  width: 100%
  padding: auto 3px
  color: $LightGrey

  div
    margin: auto 0px
    display: inline-flex
    justify-content: space-between
    flex-flow: row nowrap

  .icon
    background-color: $White
    border: 0px solid $White
    cursor: pointer
    font-size: 30px
    color: $Grey

  .upvoted
    color: $Orange

  .downvoted
    color: $DarkBlue

  .count9
    color: $LightGrey
    margin: auto 6px
    font-size: 15px
    font-family: 'Calibri', 'Arial', sans-serif

.hidemobile
  //border: 1px solid red


.plussInnlegg
  position: fixed
  display: inline-flex
  vertical-align: middle
  align-items: center
  justify-content: center
  align-content: center
  text-align: center
  text-transform: uppercase
  font-family: 'Arial', sans-serif
  font-size: 100px
  width: 90px
  height: 90px
  border-radius: 45px
  color: $White
  background-color: $Orange
  box-shadow: $Shadow
  bottom: 2vw
  right: 2vw


.postBody
  h1
    display: block
    text-align: center
    width: 600px
    margin: auto
    font-size: 54px


.newPost
  display: flex
  margin: auto
  //text-align: center
  max-width: 900px
  margin: 10vh auto 3vh
  flex-flow: row nowrap
  justify-content: space-between

  div
    margin: 6px
    display: inline-flex
    flex-flow: column nowrap
    justify-content: space-between

    //input, textarea, button, img, select, #nyKategoriDiv
      margin: 6px

    img
      width: calc((900px + 12px) /2)
      height: calc((900px + 12px) /2)
      margin: 0px 0 18px
      border: 0px solid white
      //box-shadow: $Shadow

    label
      font-size: 26px
      color: $DarkGrey
      text-align: left
      margin-bottom: 4px

    textarea
      min-height: 70px
      height: 200px
      resize: vertical
      max-height: 200px

    .smallink
      color: $Orange
      font-size: 11px
      text-decoration: underline

.buttonSplitAgain
  margin: 6px 0 !important
  flex-flow: row nowrap !important
  display: flex !important
  justify-content: space-between !important

  button
    width: calc(50% - 6px)

#nyKategoriDiv
  overflow-x: scroll
  //height: 25px
  display: flex
  flex-flow: row wrap
  justify-content: flex-start
  align-items: flex-start
  align-content: flex-start
  margin: 0 0 6px
  display: none

  .ny_kategori
    cursor: pointer
    display: inline-flex
    justify-content: space-between
    min-width: 65px
    max-width: 400px
    overflow-x: auto
    height: 22px
    width: auto
    padding: 4px 6px
    border-radius: 11px
    font-size: 12px
    color: $White
    background-color: $Orange
    margin: 0 10px 10px 0

    #cancelButton
      padding: 0
      border: 0px solid white
      font-size: 12px
      color: $White
      margin-left: 8px

#fileUpload
  width: 0.1px
  height: 0.1px
  opacity: 0
  overflow: hidden
  position: absolute
  z-index: -1
  pointer-events: none

.BildeInput
  cursor: pointer

  &:focus
    outline: 1px dotted #000
    outline: -webkit-focus-ring-color auto 5px

.Mid
  display: inline-block
  position: fixed
  width: 70%
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  text-align: center

  h1
    font-size: 52px

  a
    display: inline-block
    font-size: 52px
    margin-top: 10vh
    background-color: $White
    color: $Orange

    &:hover
      background-color: $White


.noMargin
  margin: 0px 6px !important


#kategorier
  min-height: 300px
  height: 500px
  max-height: 40vh
